/* app.css */
export {
    Body {
        background-color: black;
        display: inline-flex;
        height: 100vh;
        width: fit-content;
    }

    .bar>rect {
        stroke: black;
        stroke-width: 1;
    }

    button {
        margin-top: 1rem;
    }

    #chart {
        background-color: linen;
    }

    .x-axis>.tick>text {
        /*Translateandrotatelabelssotheyfitbelowbarsbetter.*/
        -webkit-transform: translate(-8px, 15px) rotate(-45deg);
        -moz-transform: translate(-8px, 15px) rotate(-45deg);
        -ms-transform: translate(-8px, 15px) rotate(-45deg);
        -o-transform: translate(-8px, 15px) rotate(-45deg);
        transform: translate(-8px, 15px) rotate(-45deg);
        -webkit-transform: translate(-8px, 15px) rotate(-45deg);
    }

    .bar>text {
        text-anchor: middle;
    }
=======
body {
    font-family: sans-serif;
    font-size: 15px;
    background-color: linen;
    display: contents;
}

#bar>#rect {
    stroke: black;
    stroke-width: 1;
}

button {
    margin-top: 1rem;
}

#chart {
    background-color: linen opacity;
}


.x-axis>.tick>text {
    /* Translate and rotate labels so they fit below bars better. */
    -webkit-transform: translate(-8px, 15px) rotate(-45deg);
    -moz-transform: translate(-8px, 15px) rotate(-45deg);
    -ms-transform: translate(-8px, 15px) rotate(-45deg);
    -o-transform: translate(-8px, 15px) rotate(-45deg);
    -webkit-transform: translate(-8px, 15px) rotate(-45deg);
    transform: translate(-8px, 15px) rotate(-45deg);
}

.bar>text {
    text-anchor: middle;
>>>>>>> e5af1c276b392cac093acb58d0977d94539d1e7d:app/styles.css
}